@model Factory.Models.Machine
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Machine</h1>

<form asp-action="Edit">
  <div class="form-group">
    <input asp-for="MachineId" type="hidden" />
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="EngineerMachines" class="control-label">Select Engineers</label>
    <select asp-for="EngineerMachines" asp-items="@(new SelectList(ViewBag.Engineers,"EngineerId","Name"))" class="form-control"></select>
    <span asp-validation-for="EngineerMachines" class="text-danger"></span>
  </div>
  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
  </div>
</form>
