@model Factory.Models.Machine
@using Factory.Models

@{
    ViewData["Title"] = "Edit";
    int[] SelectedEngineers = Model.EngineerMachines != null ? Model.EngineerMachines.Select(em => em.EngineerId).ToArray() : new int[0];
    var engineers = ViewBag.Engineers ?? new List<Engineer>();
}

<h1>Edit Machine</h1>

<form asp-action="Edit">
  <div class="form-group">
    <input asp-for="MachineId" type="hidden" />
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label class="control-label">Select Engineers</label>
    <select name="SelectedEngineers" asp-items="ViewBag.Engineers" class="form-control" multiple="multiple"></select>
  </div>
  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
  </div>
</form>
