@model Factory.Models.Engineer

<h2>Details</h2>

<div>
  <h4>Engineer</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
    <dd>@Html.DisplayFor(model => model.Name)</dd>

    <dt>Machines</dt>
    @if(Model.EngineerMachines != null)
    {
      foreach(var item in Model.EngineerMachines)
      {
        if(item.Machine != null)
        {
            <dd>@Html.DisplayFor(modelItem => item.Machine.Name)</dd>
        }
      }
    }
  </dl>
</div>
